<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="hero.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
    <header class="row col-5">
        <input class="profile-picture col-cl-1"></input>
        <ul class="navbar-itens col-cl-3">
            <li><label TROCAR POR A></label></li>
            <li><label></label></li>
            <li><label></label></li>
            <li><label></label></li>
            <li><label></label></li>
            <li><label></label></li>
        </ul>
        <a class="menu-hamburguer col-cl-1" href="#">&#9776</a>
    </header>
    
</body>
</html>
