<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <title>Grid System</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="logo"></h1>
            <div class="menu-hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </header>
    <section class='bg-white'>
        <div class="container feature">
            <div class="feature-text">
                <h2></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar velit vitae ex elementum, et venenatis mi condimentum. Quisque sed elit sed sem euismod placerat. Vivamus a risus sodales, semper lacus placerat, pharetra dui. Vestibulum egestas luctus tincidunt. Sed quis posuere mauris, in interdum neque. Donec ultricies finibus massa consequat imperdiet.</p>
            </div>
            <img src="http://via.placeholder.com/400x300" alt="">
        </div>
    </section>
    <section>
            <div class="container galeria">
                <div class="galeria-item">
                    <img src="http://via.placeholder.com/300x200" alt="">
                    <h3></h3>
                    <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                </div>
                <div class="galeria-item">
                        <img src="http://via.placeholder.com/300x200" alt="">
                        <h3></h3>
                        <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                </div>
                <div class="galeria-item">
                        <img src="http://via.placeholder.com/300x200" alt="">
                        <h3></h3>
                        <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                </div>
                <div class="galeria-item">
                        <img src="http://via.placeholder.com/300x200" alt="">
                        <h3></h3>
                        <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                    </div>
                    <div class="galeria-item">
                            <img src="http://via.placeholder.com/300x200" alt="">
                            <h3></h3>
                            <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                    </div>
                    <div class="galeria-item">
                            <img src="http://via.placeholder.com/300x200" alt="">
                            <h3></h3>
                            <p>Aenean risus eros, turpis. Nullam vel urna vel lorem luctus mattis.</p>
                    </div>  
            </div>
    </section>
    <footer>
        <div class="container footer">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p></p>
        </div>
    </footer>
</body>
</html>